/* font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif; */

#nav-bar-title, .navbar-brand{
    height: 20px;

}

#nav-bar-title{
    margin-top: -10px;
}
 #welcome{
     background-image: url(https://github.com/FranciscaMora/scl007-ux-financial-app/blob/master/img/FotoJet.jpg?raw=true);
    
 }


